/* Skewed background effect for the top header area */
.top-header-area:before {
  position: absolute;
  content: "";
  width: 53%;
  height: 100%;
  left: -11px;
  top: 0;
  background: #0c59db;
  z-index: -1;
  transform: skew(23deg);
}

.top-header-area {
  background: #00194c;
  padding: 12px 0;
  position: relative;
  z-index: 1;
}

/* Container for the top header */
.top-header {
  display: flex;
  justify-content: space-between; /* Align items on opposite ends */
  align-items: center;
  padding: 10px 20px;
  color: white; /* Ensure text is visible on the dark background */
  position: relative;
  z-index: 2; /* Ensure top header content is above the skewed background */
}

/* Left section for location and email */
.left-section {
  display: flex;
  gap: 20px; /* Space between location and email */
}

.location,
.email {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.location .icon,
.email .icon,
.time .icon {
  margin-right: 5px;
}

/* Right section for working hours and social media icons */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between time and social icons */
}

.time {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  gap: 10px; /* Space between social icons */
}

.icon {
  cursor: pointer;
  color: #eef1f3;
  font-size: 18px;
  transition: color 0.3s;
}

.icon:hover {
  color: #0056b3; /* Hover effect */
}

a {
  text-decoration: none;
}
